/**
* Template Name: Aficreditos.com - v1.0.0
* Template URL: Aficreditos.com
* Author: Aficreditos
* License: http://opensource.org/licenses/MIT
*/


body {
  font-family: "Roboto", sans-serif;
  color: #444444;
}

a {
  color: #999999;
}

a:hover {
  color: black;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto", sans-serif;
}

.btn-form {
  color: #fff;
  border-radius: 50px;
  padding: 8px 35px 10px 35px;
  font-size: 14px;
  transition: all ease-in-out 0.3s;
  display: inline-block;
  background: #2F4A9F;
}

.btn-form:hover {
  background: transparent;
  color: #fff;
  border: 2px solid #fff;
}

.btn-form-g {
  color: #fff;
  border-radius: 50px;
  padding: 8px 35px 10px 35px;
  font-size: 20px;  transition: all ease-in-out 0.3s;
  display: inline-block;
  background: linear-gradient(90deg, rgba(193,39,45,1) 0%, rgba(236,96,43,1) 100%);;
}

.btn-form-g:hover {
  background: transparent;
  color: #fff;
  border: 2px solid #fff;
}
.btn-form-a {
  color: #fff;
  border-radius: 50px;
  padding: 8px 35px 10px 35px;
  font-size: 20px;  transition: all ease-in-out 0.3s;
  display: inline-block;
  background: linear-gradient(90deg, rgba(193,39,45,1) 0%, rgba(236,96,43,1) 100%);;
}

.btn-form-a:hover {
  background: #2F4A9F;
  color: #fff;
  border: 2px solid #fff;
}
.btn-form-fc {
  color: #fff;
  border-radius: 50px;
  padding: 8px 10rem 10px 10rem;
  font-size: 20px;  transition: all ease-in-out 0.3s;
  display: inline-block;
  background: linear-gradient(90deg, rgba(193,39,45,1) 0%, rgba(236,96,43,1) 100%);;
}

.btn-form-fc:hover {
  background: transparent;
  color: #fff;
  border: 2px solid #fff;
}
@media (max-width: 575px) {
.btn-form-fc {
  color: #fff;
  border-radius: 50px;
  padding: 8px 5rem 10px 5rem;
  font-size: 20px;  transition: all ease-in-out 0.3s;
  display: inline-block;
  background: linear-gradient(90deg, rgba(193,39,45,1) 0%, rgba(236,96,43,1) 100%);;
}

.btn-form-fc:hover {
  background: transparent;
  color: #fff;
  border: 2px solid #fff;
}
  }
  @media (max-width: 768px) {  
.btn-form-fc {
  color: #fff;
  border-radius: 50px;
  padding: 8px 5rem 10px 5rem;
  font-size: 20px;  transition: all ease-in-out 0.3s;
  display: inline-block;
  background: linear-gradient(90deg, rgba(193,39,45,1) 0%, rgba(236,96,43,1) 100%);;
}

.btn-form-fc:hover {
  background: transparent;
  color: #fff;
  border: 2px solid #fff;
}
  }




.back-to-top {
  position: fixed;
  display: none;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  right: 15px;
  bottom: 15px;
  background: #2F4A9F;
  color: #fff;
  transition: display 0.5s ease-in-out;
  z-index: 99999;
  transition: all ease-in-out 0.3s;
}

.back-to-top i {
  font-size: 24px;
  position: absolute;
  top: 8px;
  left: 8px;
}

.back-to-top:hover {
  color: #fff;
  background: rgb(193,39,45);
}


#header {
  transition: all 0.5s;
  z-index: 997;
  padding: 25px 0;
  background: #213b52;
}

#header .logo h1 {
  font-size: 24px;
  margin: 0;
  padding: 10px 0;
  line-height: 1;
  font-weight: 700;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
}

#header .logo h1 a, #header .logo h1 a:hover {
  color: #fff;
  text-decoration: none;
}

#header .logo h1 a span, #header .logo h1 a:hover span {
  color: #fdc134;
}

#header .logo img {
  margin: 10px -30px 10px -75px;
  max-height: 40px;
}
#header .card, .form {
  border-radius:10px; 
  background: linear-gradient(90deg, rgba(193,39,45,1) 0%, rgba(236,96,43,1) 100%);
  width: 18rem;
  top: -2.50rem;
  position: absolute;
}
#header .card-white, .form {
    border-radius: 10px;
    /* background: linear-gradient(90deg, rgba(193,39,45,1) 0%, rgba(236,96,43,1) 100%); */
    width: 40rem;
    top: 0rem;
    position: absolute;
}
@media (max-width: 575px) {
#header .card, .form {
 
  margin-top: 20px;
  top: 0rem;
  position: relative;
  width: 100%;
}
#header .card, .form, .card-body {
  margin-top: 20px;
  margin-bottom: 20px;
}

#header .card, .form form {
}
  }
  @media (max-width: 768px) {  
#header .card, .form {
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 20px;
  top: 0rem;
  position: relative;
  width: 100%;
}
#header .card, .form, .card-body {
  margin-top: 20px;
  margin-bottom: 20px;
}

#header .card, .form form {
}
  }


.nav-menu, .nav-menu * {
  list-style: none;
  z-index: 999;
}

.nav-menu > ul > li {
  float: left;
}

.nav-menu ul {
  border-radius: 6px;
}

.nav-menu a {
  text-decoration: none;
  display: inline-block;
  position: relative;
  outline: none;
  color: #2F4A9F;
 /*- padding: 5px 15px;*/
  margin: 15px 15px ;
  transition: 0.3s;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
}

.nav-menu a:hover, .nav-menu .active > a, .nav-menu li:hover > a {
    color: #2F4A9F;
    
    border-bottom-style: solid;
    border-color: rgb(193,39,45);
}

.nav-menu .get-started a {
  background: #213b52;
  color: #fff;
  border-radius: 50px;
  margin: 2px 0 0 15px;
  padding: 4px 25px 6px 25px;
  border: 2px solid #fdc134;
}

.nav-menu .get-started a:hover {
  background: #fdc134;
  color: #213b52;
}

.nav-menu .drop-down ul {
  display: block;
  position: absolute;
  left: 0;
  top: calc(100% - 30px);
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  padding: 10px 0;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: ease all 0.3s;
}

.nav-menu .drop-down:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.nav-menu .drop-down li {
  min-width: 180px;
  position: relative;
}

.nav-menu .drop-down ul a {
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 500;
  text-transform: none;
  color: #3e6f9b;
}

.nav-menu .drop-down ul a:hover, .nav-menu .drop-down ul .active > a, .nav-menu .drop-down ul li:hover > a {
  color: #fdc134;
}

.nav-menu .drop-down > a:after {
  content: "\ea99";
  font-family: IcoFont;
  padding-left: 5px;
}

.nav-menu .drop-down .drop-down ul {
  top: 0;
  left: calc(100% - 30px);
}

.nav-menu .drop-down .drop-down:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
}

.nav-menu .drop-down .drop-down > a {
  padding-right: 35px;
}

.nav-menu .drop-down .drop-down > a:after {
  content: "\eaa0";
  font-family: IcoFont;
  position: absolute;
  right: 15px;
}

@media (max-width: 1366px) {
  .nav-menu .drop-down .drop-down ul {
    left: -90%;
  }
  .nav-menu .drop-down .drop-down:hover > ul {
    left: -100%;
  }
  .nav-menu .drop-down .drop-down > a:after {
    content: "\ea9d";
  }
}

.mobile-nav-toggle {
  position: fixed;
  right: 15px;
  top: 20px;
  z-index: 9998;
  border: 0;
  background: none;
  font-size: 24px;
  transition: all 0.4s;
  outline: none !important;
  line-height: 1;
  cursor: pointer;
  text-align: right;
  padding: 10px;
}

.mobile-nav-toggle i {
  color: rgb(193,39,45);
}

.mobile-nav {
  position: fixed;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  z-index: 9999;
  overflow-y: auto;
  background: #fff;
  transition: ease-in-out 0.2s;
  opacity: 0;
  visibility: hidden;
  border-radius: 10px;
  padding: 10px 0;
  align-content: center;
  text-align: center;
}

.mobile-nav * {
  padding: 0px 10px 0px 10px;
  list-style: none;
}

.mobile-nav a {
  display: block;
  position: relative;
  color: #2F4A9F;
  padding: 15px 20px;
  font-weight: 500;
  outline: none;
  transition: 0.3s;
  text-align: center;
}

.mobile-nav a:hover, .mobile-nav .active > a, .mobile-nav li:hover > a {
    color: #2F4A9F;
    border-bottom-style: solid;
    border-color: rgb(193,39,45);
}

.mobile-nav .drop-down > a:after {
  content: "\ea99";
  font-family: IcoFont;
  padding-left: 10px;
  position: absolute;
  right: 15px;
}

.mobile-nav .active.drop-down > a:after {
  content: "\eaa1";
}

.mobile-nav .drop-down > a {
  padding-right: 35px;
}

.mobile-nav .drop-down ul {
  display: none;
  overflow: hidden;
}

.mobile-nav .drop-down li {
  padding-left: 20px;
}

.mobile-nav .get-started a {
  background: #213b52;
  color: #fff;
  border-radius: 50px;
  margin: 15px;
  padding: 8px 25px 10px 25px;
  text-align: center;
}

.mobile-nav .get-started a:hover {
  background: #fdc134;
  color: #213b52;
}

.mobile-nav-overly {
  width: 100%;
  height: 100%;
  z-index: 9997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(18, 33, 46, 0.6);
  overflow: hidden;
  display: none;
  transition: ease-in-out 0.2s;
}

.mobile-nav-active {
  overflow: hidden;
}

.mobile-nav-active .mobile-nav {
  opacity: 1;
  visibility: visible;
}

.mobile-nav-active .mobile-nav-toggle i {
  color: #fff;
}


#hero {
  width: 100%;

  background: url('../img/slide.png');
  background-repeat: no-repeat;
  background-position: center;
  max-width: 100%;
    height: auto;

}

#hero h1 {
  margin: 0 0 15px 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  color: #d2e0ed;
  font-family: "Roboto", sans-serif;
}

#hero h2 {
  color: #fff;
  margin-top: 30px;
  font-size: 60px;
}
.hero a{
  color: #2F4A9F;
  }


@media (max-width: 991px) {
  #hero .hero-img {
    text-align: center;
  }
  #hero .hero-img img {
    width: 50%;
  }
}

@media (max-width: 768px) {
  #hero {
    background-position: center;
    background-size: contain;
    -moz-text-align-last: center;
    text-align-last: center;

  }
  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }
  #hero h2 {
    font-size: 24px;
    margin-top: 0px;
  line-height: 1.2;
  text-align: center;
  }
  #hero .hero-img img {
    width: 70%;
  }
}

@media (max-width: 575px) {
  #hero {
  width: 100%;
  background: url('../img/slide.png');
  background-repeat: no-repeat;
  max-width: 100%;
  height: auto;

}
#hero h2 {
  color: #fff;
  font-size: 24px;
  margin-top: 0px;
  line-height: 1.2;
  text-align: center;
}
  #hero .hero-img img {
    width: 80%;
  }
}


section {
  padding: 60px 0 0 0;
  overflow: hidden;
}

.section-bg {
  background: linear-gradient(180deg, #f2f6fa 0%, #fff 100%);
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title-funciona {
  text-align: center;
  padding-bottom: 30px;
}

.section-title-funciona p {
  text-align: center;
  padding-bottom: 30px;
  font-size: 22px;
} 

.section-title-funciona h2 {
  font-size: 38px;
  font-weight: 400;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  font-family: "Roboto", sans-serif;
  color: #43558D;
}


.section-title-funciona h2::after {
  content: '';
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: rgb(193,39,45);
  bottom: 0;
  left: calc(50% - 20px);
}
@media (max-width: 575px) {
  .section-title-funciona {
  text-align: center;
  padding-bottom: 30px;
}

.section-title-funciona p {
  text-align: center;
  padding-bottom: 30px;
  font-size: 18px;
} 
.section-title-funciona h2 {
  font-size: 38px;
  font-weight: 400;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  font-family: "Roboto", sans-serif;
  color: #43558D;
}

  }






  .section-title-naranja {
  text-align: center;
  padding-bottom: 30px;
}

.section-title-naranja p {
  text-align: center;
  padding-bottom: 30px;
  font-size: 22px;
} 

.section-title-naranja h2 {
  font-size: 38px;
  font-weight: 400;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  font-family: "Roboto", sans-serif;
  color: #ec602b;
}


@media (max-width: 575px) {
  .section-title-naranja {
  text-align: center;
  padding-bottom: 30px;
}

.section-title-naranja p {
  text-align: center;
  padding-bottom: 30px;
  font-size: 18px;
} 
.section-title-naranja h2 {
  font-size: 38px;
  font-weight: 400;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  font-family: "Roboto", sans-serif;
  color: #43558D#ec602b;
}

  }

.section-title h2 {
  font-size: 38px;
  font-weight: 400;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  font-family: "Roboto", sans-serif;
  color: #43558D;
}


.section-title h2::after {
  content: '';
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: rgb(193,39,45);
  bottom: 0;
  left: calc(50% - 20px);
}

.section-title p {
  margin-bottom: 0;
}

#main .card{
background:#EFEFEF;
border-color: white;
border-radius: 20px;
margin-bottom: 20px;

  }
#main .card img{
    top: -3rem;
    left: 1rem;
    border: solid;
    border-radius: 50px;
    border-color: white;
}

#main .card .card-title{
color: #333333; 

  }
  #main .card .card-text{
color: #333333; 
font-size: 20px

  }


.comisiones {
z-index: -1;
background:url(../img/bg-1.png);
background-size: cover;

}
.comisiones .content h3 {
  font-weight: 700;
  font-size: 34px;
  color: #213b52;
}

.comisiones .content p {
  margin-bottom: 0;
  color: #fff;
}

.comisiones .content .icon-box {
  margin-top: 25px;
}

.comisiones .content .icon-box h4 {
  font-size: 20px;
  font-weight: 700;
  margin: 5px 0 10px 60px;
  color: #213b52;
}

.comisiones .content .icon-box h4 a {
  color: #213b52;
  transition: 0.3s;
}

.comisiones .content .icon-box h4 a:hover {
  color: #fdc134;
}

.comisiones .content .icon-box i {
  font-size: 48px;
  float: left;
  color: #fdc134;
}

.comisiones .content .icon-box p {
  font-size: 15px;
  color: #fff;
  margin-left: 60px;
}

.comisiones .image {
  background: url("../img/10.png") center center no-repeat;
  min-height: 350px;
  height: 100%
}

@media (max-width: 667px) {
  .comisiones .image img {
    max-width: 100%;
  }
}
@media (max-width: 575px) {

.comisiones .content p {
    margin-top: 0px;
    margin-bottom: 5px;
    color: #fff;
    padding-left: 10px;
    padding-right:10px;
    padding-top: 0px;
    padding-bottom: 20px;
    font-size: 22px;
    text-align: center;
}
  }




.registro {
    background: #fff;
    padding: 0 0 20rem 0;
    transition: 0.3s;
}


.registro .php-email-form {
  
  padding-left: 10rem;
   padding-right: 10rem;
   padding-top: 10px;
   padding-bottom:10px;
  background: url(../img/bg-2.png);
  border-radius: 20px;
  background-size: cover;
}

.registro .php-email-form .validate {
  display: none;
  color: red;
  margin: 0 0 15px 0;
  font-weight: 400;
  font-size: 13px;
}

.registro .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.registro .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.registro .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}

.registro .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}

.registro .php-email-form input, .registro .php-email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
}

.registro .php-email-form input::focus, .registro .php-email-form textarea::focus {
  background-color: #fdc134;
}

.registro .php-email-form input {
  padding: 20px 15px;
  border-radius: 5px;
}

.registro .php-email-form textarea {
  padding: 12px 15px;
}

.registro .php-email-form button[type="submit"] {
   color: #fff;
  border-radius: 50px;
  padding: 8px 5rem 10px 5rem;
  font-size: 20px;
  transition: all ease-in-out 0.3s;
  display: inline-block;
  background: linear-gradient(90deg, rgba(193,39,45,1) 0%, rgba(236,96,43,1) 100%);
  border: none;
}

.registro .php-email-form button[type="submit"]:hover {
  background: transparent;
  color: #fff;
  border: 2px solid #fff;
}

.registro .formulario {
  position: absolute;
  right: 5rem;
  margin-top: -40px;
}
.registro .texto {
  margin-right: 10rem;
  margin-top: 10rem;
  padding-right: 5rem;
}

 @media (max-width: 1024px) {
.registro {
    background: #fff;
    padding: 0 0 5rem 0;
}

.registro .formulario {
  position: absolute;
  right: 1rem;
  margin-top: -80px;

}
.registro .texto {
  margin-right: 0rem;
  margin-top: 8rem;
  padding: 2rem;
  text-align: center;
}
.registro .php-email-form {
  
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 10px;
  padding-bottom:10px;
  background: url(../img/bg-2.png);
  border-radius: 20px;
  background-repeat: no-repeat;
  background-size: cover;

}

 }

@media (max-width: 600px) {
.registro {
    background: #fff;
    padding: 0 0 5rem 0;
}

.registro .formulario {
  position: relative;
  right: 0rem;
  margin-top: 0px;

}
.registro .texto {
  margin-right: 0rem;
  margin-top: 0rem;
  padding: 2rem;
  text-align: center;
}
.registro .php-email-form {
  
  padding-left: 3rem;
  padding-right: 3rem;
  padding-top: 10px;
  padding-bottom:10px;
  background: url(../img/bg-2.png);
  border-radius: 20px;
}

.registro .php-email-form button[type="submit"] {
    color: #fff;
    border-radius: 50px;
    padding: 5px 3rem 5px 3rem;
    font-size: 18px;
    transition: all ease-in-out 0.3s;
    display: inline-block;
    background: linear-gradient(90deg, rgba(193,39,45,1) 0%, rgba(236,96,43,1) 100%);
    border: none;
}


 }



@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  color: #fff;
  font-size: 14px;
  position: relative;
}

#footer::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background:white;
  z-index: 1;
}

#footer .footer-top {
  position: relative;
  z-index: 2;
  text-align: center;
  padding: 80px 0;
  background: rgb(26, 26, 26);
}

#footer .footer-top h3 {
  font-size: 36px;
  font-weight: 700;
  color: #fff;
  position: relative;
  font-family: "Roboto", sans-serif;
  padding-bottom: 0;
  margin-bottom: 0;
}

#footer .footer-top p {
  font-size: 15;
  font-style: italic;
  margin: 30px 0 0 0;
  padding: 0;
}

#footer .footer-top .footer-newsletter {
  text-align: center;
  font-size: 15px;
  margin-top: 30px;
}

#footer .footer-top .footer-newsletter form {
  background: #fff;
  padding: 6px 10px;
  position: relative;
  border-radius: 50px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  text-align: left;
}

#footer .footer-top .footer-newsletter form input[type="email"] {
  border: 0;
  padding: 4px 8px;
  width: calc(100% - 100px);
}

#footer .footer-top .footer-newsletter form input[type="submit"] {
  position: absolute;
  top: 0;
  right: -1px;
  bottom: 0;
  border: 0;
  background: none;
  font-size: 16px;
  padding: 0 20px;
  background: #fdc134;
  color: #fff;
  transition: 0.3s;
  border-radius: 50px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

#footer .footer-top .footer-newsletter form input[type="submit"]:hover {
  background: #fcb102;
}

#footer .footer-top .social-links {
  margin-top: 30px;
}

#footer .footer-top .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #284864;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .footer-top .social-links a:hover {
  background: #fcb102;
  color: #fff;
  text-decoration: none;
}

#footer .footer-bottom {
  z-index: 2;
  position: relative;
  padding-top: 40px;
  padding-bottom: 40px;
}

.enlaces {
  text-align:left;
  float: left;
  font-size: 17px;
}
.copyright {
  text-align: center;
  float: center;
  color: #2A356D;
  font-size: 17px;
}

.creditos {
  float: right;
  text-align: right;
  font-size: 17px;
  color: #2A356D;
}

@media (max-width: 768px) {
  #footer .copyright, #footer .credits {
    padding: 5px;
    float: none;
    text-align: ceneter;
  }
}

.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: 1.5rem 1rem;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}


.bg-form{
  background: #2F4A9F;
  padding: 30px;
}
.bg-form-fc{
  background: #2F4A9F;
  padding: 50px 100px 50px 100px;
}
.bg-form-ea{
  background: #2F4A9F;
  padding: 50px 100px 50px 100px;
}
.bg-form-registrar{
  background: #F2F2F2;
  padding: 50px 100px 50px 100px;
}
.bg-gradient{
    background: linear-gradient(90deg, rgba(193,39,45,1) 0%, rgba(236,96,43,1) 100%); 
}
.bg-gradient-radius{
    background: linear-gradient(90deg, rgba(193,39,45,1) 0%, rgba(236,96,43,1) 100%); 
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
}
.bg-azul-radius{
    background: #2F4A9F; 
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
}
.form-right{
  float: right;
  width: 70%;
  padding-top:10px;
  padding-bottom:10px;
  vertical-align: middle;
}
.form-left{
  float: left;
  width: 30%;
  padding-top:20px;
  padding-bottom:10px;
  vertical-align: middle;
  text-align: right;
  padding-right: 10px;
}
.form-right-fc{
  float: right;
  width: 90%;
  padding-top:10px;
  padding-bottom:10px;
  vertical-align: middle;
}
.form-left-fc{
  float: left;
  width: 10%;
  padding-top:20px;
  padding-bottom:10px;
  vertical-align: middle;
  text-align: right;
  padding-right: 10px;
}


.table{
  background:#E6E6E6;

}

.table-bordered td, .table-bordered th {
    border: 1px solid white;
        font-weight: 300;
        text-align: center;
}

.table thead th {
    vertical-align: bottom;
    border-bottom: 1px solid white;
    font-weight: 300;
    text-align: center;
}

.text-naranja{
   color: #ec602b;
  }
  .text-azul{
   color: #2F4A9F;
  }

  #chart_wrap {
    position: relative;
    padding-bottom: 50%;
    height: 0;
    overflow:hidden;
}

#chart_div {
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height:500px;
}

.chart {
  width: 100%; 
  min-height: 450px;
}


.avatar {
    position: absolute;
    float: right;
    left: 17rem;
    top: -2rem;
    }

.numero {
    position: absolute;
    float: right;
    left: 19rem;
    top: 3rem;
    background-color: #ec602b;
    color: white;
    }

.user-head .inbox-avatar {
    float: left;
    width: 65px;
}
.user-head .inbox-avatar img {
    border-radius: 4px;
}
.user-head .user-name {
    display: inline-block;
    margin: 0 0 0 10px;
}
.user-head .user-name h5 {
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 0;
    margin-top: 15px;
}
.user-head .user-name h5 a {
    color: #fff;
}
.user-head .user-name span a {
    color: #87e2e7;
    font-size: 12px;
}
.border-col{
  border-right: 1px solid #dee2e6;
}
@media (max-width: 575px) {
  .border-col {
   border-bottom: 1px solid #dee2e6 !important;
    border-right: 0px solid #dee2e6;
    width: auto;
  }
}


.notify-badge{
    top: 50px;
    background: #ec602b;
    text-align: center;
    border-radius: 30px 30px 30px 30px;
    color: white;
    padding: 5px 10px;
    font-size: 15px;
}
